.positiveCell {
  background-color: #4CAF50;
  color: white;
}
.negativeCell {
  background-color: #F44336;
  color: white;
}
.neutralCell {
  background-color: #FFEB3B;
  color: black;
  font-weight: bold;
}
.mdl-data-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
.tableCell {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: center;
}
#my-table td {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: center;
}
#my-table th {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: center;
}
/* unrelated to responsive table css */
#my-table {
  margin-top: 24px;
}
.material-icons {
  vertical-align: -25%;
}
.mdl-data-table th {
  text-align: center;
}
.mdl-data-table td {
  text-align: center;
}
.center {
  text-align: center;
}
.positiveCell {
  background-color: #4CAF50;
  color: white;
}
.negativeCell {
  background-color: #F44336;
  color: white;
}
.neutralCell {
  background-color: #FFEB3B;
  color: black;
  font-weight: bold;
}
.inspectionCell {
  height: auto;
  padding: 0px;
}
.neutralCellInspection {
  background-color: #FFEB3B;
  border-right-style: solid;
}
.positiveCellInspection {
  background-color: #4CAF50;
  border-right-style: solid ;
}
.negativeCellInspection {
  background-color: #ef5350;
  border-right-style: solid ;
}
#ild * {
  padding: auto;
}
@media only screen and (max-width: 650px) {
  #prepInventory th,
  td {
    font-size: 8px;
  }
  #prepInventory th {
    font-size: 8px;
  }
  #fvmTable th,
  td {
    text-align: center;
    font-size: 8px;
    padding-left: 0px;
  }
  #fvmTable th {
    font-size: 18px;
  }
  .noPrint {
    visibility: hidden;
    display: none;
  }
  td {
    width: auto;
  }
  td {
    width: auto;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
  .noPrint {
    visibility: hidden;
    display: none;
  }
}
.alert {
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  @extend .shadow-1;
}
.alert:hover {
  @extend .shadow-2;
}
.alert-success {
  background-color: #91cf91;
  border-color: #80c780;
  color: #3d8b3d;
}
.alert-warning {
  background-color: #ebc063;
  border-color: #e8b64c;
  color: #a07415;
}
.alert-danger {
  background-color: #e27c79;
  border-color: #dd6864;
  color: #9f2723;
}
.alert p {
  padding: 0;
  margin: 0;
}
.alert i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 24px;
}
.alert .close-alert {
  -webkit-appearance: none;
  position: relative;
  float: right;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  filter: alpha(opacity=40);
  opacity: 0.4;
}
.alert .close-alert:hover {
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
