.mdl-data-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
#my-table td,
th {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: center;
}
/* unrelated to responsive table css */
#my-table {
  margin-top: 24px;
}
.material-icons {
  vertical-align: -25%;
}
.mdl-data-table th {
  text-align: center;
}
.mdl-data-table td {
  text-align: center;
}
.center {
  text-align: center;
}
.positiveCell {
  background-color: #4CAF50;
  color: white;
}
.negativeCell {
  background-color: #F44336;
  color: white;
}
.neutralCell {
  background-color: #FFEB3B;
  color: black;
  font-weight: bold;
}
.inspectionCell {
  height: auto;
  padding: 0px;
}
.neutralCellInspection {
  background-color: #ffeb3b;
  border-right-style: solid;
}
.positiveCellInspection {
  background-color: #66bb6a;
  border-right-style: solid ;
}
.negativeCellInspection {
  background-color: #ef5350;
  border-right-style: solid ;
}
#ild * {
  padding: auto;
}
@media only screen and (max-width: 650px) {
  #prepInventory th,
  td {
    font-size: 8px;
  }
  #prepInventory th {
    font-size: 8px;
  }
  #fvmTable th,
  td {
    text-align: center;
    font-size: 8px;
    padding-left: 0px;
  }
  #fvmTable th {
    font-size: 18px;
  }
  .noPrint {
    visibility: hidden;
    display: none;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
  .noPrint {
    visibility: hidden;
    display: none;
  }
  td * {
    all: initial;
  }
}
